div(style='float: left; width: 600px')
  div.chat-log(style='height: 300px; width: 100%; overflow-x: auto; overflow-y: auto; font-family: Courier; background-color: #B8CDE3; color: #444;')
  input.chat-input(style='width: 100%;')
div(style='float: left;')
  h4 Others:
  ul.chat-userlist
