div(style='float: left; width: 600px;')
  div.chat-log(style='height: 300px; width: 630; overflow-x: auto; overflow-y: auto; font-family: Courier; background-color: #B8CDE3; color: #444; padding: 15px')
  input.chat-input(style='width: 596px; margin-top: 10px;')
div(style='float: left; margin-left: 20px;')
  h4 Others:
  ul(style='padding: 10px;).chat-userlist
